asgiref==3.8.1
Django==5.1.6
django-cleanup==9.0.0
django-jazzmin==3.0.1
django-tinymce==4.1.0
gunicorn==23.0.0
Markdown==3.7
packaging==24.2
pillow==11.1.0
pytz==2025.1
PyYAML==6.0.2
six==1.17.0
sqlparse==0.5.3
transliterate==1.10.2
tzdata==2025.1
uritemplate==4.1.1
